.aboutHomeSection {
  font-size: 80px;
  background-image: url('https://storage.googleapis.com/images.yourgolftours.com/system/images/18/original/turnberry-st-andrews.jpg');
  background-repeat: no-repeat;
  height: 80vh;
  background-size: cover;
}
