nav {
  height: 15vh;
  width: 100%;
  background-color: grey;
  color: white;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 60px;
}
c {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}
